<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyu.shopping.recommendate.mapper.UserActiveMapper">

	<!-- 所有的用户行为表的字段 -->
	<sql id="all_user_active_columns">
	   user_id, category2_id, hits
	</sql>
	
	<!-- 查询出所有的用户行为 -->
	<select id="listAllUserActive" resultType="userActiveDTO">
	   SELECT <include refid="all_user_active_columns" />
	   FROM shopping_active
	</select>
	
	<!-- 根据用户已有的行为信息获取它对某个二级类目的点击量 -->
	<select id="getHitsByUserActiveInfo" parameterType="userActiveDTO" resultType="integer">
	   SELECT hits FROM shopping_active
	   WHERE user_id = #{userId} AND category2_id = #{category2Id}
	</select>
	
	<!-- 统计某个用户的行为记录的条数 -->
	<select id="countUserActive" parameterType="userActiveDTO" resultType="integer">
       	SELECT COUNT(*) FROM shopping_active
       	WHERE user_id = #{userId} AND category2_id = #{category2Id}
	</select>
	
	<!-- 向用户行为表中添加一条用户的行为记录 -->
	<insert id="saveUserActive" parameterType="userActiveDTO">
	   INSERT INTO shopping_active(user_id, category2_id, hits)
	   VALUES(#{userId}, #{category2Id}, #{hits})
	</insert>

    <!-- 更新用户对某个二级类目的点击量 -->
    <update id="updateUserActive" parameterType="userActiveDTO">
        UPDATE shopping_active SET hits = #{hits}
        WHERE user_id = #{userId} AND category2_id = #{category2Id}
    </update>

</mapper>