<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.lyu.shopping.sysmanage.mapper.Category1Mapper">
	<!-- 一级类目表的所有字段 -->
	<sql id="all_category1_columns" >
    	category1_id, category1_name, gmt_create, gmt_modified,
    	is_show, is_deleted
  	</sql>
	
	<!-- 封装了一些一级类目的查询条件 -->
	<sql id="query_category1_sql">
		<if test="category1Id != null">
			category1_id = #{category1Id}
		</if>
		<if test="category1Name != null">
			category1_name LIKE '%${category1Name}%'
		</if>
		<if test="gmtCreate != null">
			gmt_create = #{gmtCreate}
		</if>
		<if test="gmtModified != null">
			gmt_modified = #{gmtModified}
		</if>
		<if test="showFlag != null">
			is_show = #{showFlag}
		</if>
		<if test="delFlag != null">
			is_deleted = #{delFlag}
		</if>
	</sql>
	
	<!-- 一级类目表与对应的pojo类之间的映射 -->
	<resultMap type="category1" id="category1ResultMap">
		<id property="category1Id" column="category1_id" />
		<result property="category1Name" column="category1_name" />
		<result property="gmtCreate" column="gmt_create" />
		<result property="gmtModified" column="gmt_modified" />
		<result property="showFlag" column="is_show" />
		<result property="delFlag" column="is_deleted" />
	</resultMap>
	
	<!-- 查询一级类目的列表 -->
	<select id="listCategory1" parameterType="category1" resultMap="category1ResultMap">
		SELECT <include refid="all_category1_columns" />
		FROM shopping_category1
		<where>
			<include refid="query_category1_sql" />
		</where>
	</select>
	
</mapper>