<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyu.shopping.sysmanage.mapper.MemberMapper">
	<!-- 商城会员表所有的字段 -->
	<sql id="all_member_columns">
		id, login_name, member_name, password, age, sex, email, mobile,
		address, status, gmt_create, gmt_modified, is_deleted delFlag
	</sql>

	<!-- 将通用的sql查询条件抽取出来，成为sql片段给不同的方法用 -->
	<sql id="query_member_sql_where">
		<if test="memberName != null">
			AND member_name LIKE '%${memberName}%'
		</if>
		<if test="loginName != null">
			AND login_name = #{loginName}
		</if>
		<if test="password != null">
			AND password = #{password}
		</if>
		<if test="1 == 1">
			AND is_deleted = 0
		</if>
	</sql>
	
	<!-- 统计既存在于数据库中又存在于集合中的商城会员数目 -->
	<select id="countMemberInList" parameterType="list" resultType="int">
		SELECT count(1) FROM shopping_sys_member
		<where>
			<foreach collection="list" open="AND id IN (" item="id" 
				separator="," close=")">#{id}</foreach>
			<if test="1 == 1">
				AND is_deleted = 0
			</if>
		</where>
	</select>
	
	<!-- 统计所有商城会员的数目(未删除的) -->
	<select id="countMember" resultType="long">
		SELECT COUNT(1) FROM shopping_sys_member
		WHERE is_deleted = 0
	</select>
	
	<!-- 通过商城会员id获取商城会员的详细信息 -->
	<select id="getMemberByMemberId" parameterType="long" resultType="member">
		SELECT <include refid="all_member_columns" />
		FROM shopping_sys_member
		WHERE id = #{memberId} AND is_deleted = 0
	</select>
	
	<!-- 查询用户列表 -->
	<select id="listMember" parameterType="member" resultType="member">
		SELECT <include refid="all_member_columns" />
		FROM shopping_sys_member
		<where>
			<include refid="query_member_sql_where" />
		</where>
	</select>

	<!-- 新增用户 -->
	<insert id="saveMember" parameterType="member">
		INSERT INTO shopping_sys_member(login_name, member_name, age, sex, password, email,
			mobile, address, status, gmt_create, gmt_modified, is_deleted)
		VALUES(#{loginName}, #{memberName}, #{age}, #{sex}, #{password}, #{email},
			#{mobile}, #{address}, #{status}, #{gmtCreate}, #{gmtModified}, #{delFlag})
	</insert>
	
	<!-- 删除商城会员，根据商城会员id删除（逻辑删除）商城会员 -->
	<update id="removeMember" parameterType="long">
		UPDATE shopping_sys_member SET is_deleted = 1
		WHERE id = #{memberId} AND is_deleted = 0
	</update>
	
	<!-- 批量删除商城会员 -->
	<update id="removeMemberBatch" parameterType="list">
		UPDATE shopping_sys_member SET is_deleted = 1
		<where>
			<foreach collection="list" item="id" open="AND id in ("
				separator="," close=")">#{id}</foreach>
			<if test="1 == 1">
				AND is_deleted = 0
			</if>
		</where>
	</update>
	
	<!-- 修改商城会员的信息（不包括密码） -->
	<update id="updateMember" parameterType="member">
		UPDATE shopping_sys_member
		<set>
			<if test = "loginName != null">
				login_name = #{loginName},
			</if>
			<if test = "memberName != null">
				member_name = #{memberName},
			</if>
			<if test = "age != null">
				age = #{age},
			</if>
			<if test = "sex != null">
				sex = #{sex},
			</if>
			<if test = "email != null">
				email = #{email},
			</if>
			<if test = "mobile != null">
				mobile = #{mobile},
			</if>
			<if test = "address != null">
				address = #{address},
			</if>
			<if test = "gmtModified != null">
				gmt_modified = #{gmtModified},
			</if>
		</set>
		WHERE id = #{id} AND is_deleted = 0
	</update>
	
	<!-- 更新商城会员的密码 -->
	<update id="updatePassword">
		UPDATE shopping_sys_member SET password = #{param2}
		WHERE id = #{param1} AND is_deleted = 0
	</update>
	
</mapper>